img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    vertical-align: middle;
}

span {
    font-size: 25px;
    line-height: 45px;
}

.tree-info-div {
    line-height: 45px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer
}

.file-img-div {
    float: left;
    text-align: center;
    margin-right: 10px;
}
