.tree-info-div {
    line-height: 30px;
    padding: 5px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer
}

.tree-info-div img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    vertical-align: middle;
}

.file-img-div {
    float: left;
    text-align: center;
    margin-right: 10px;
}

.tree-info-div span {
    float: left;
    font-size: 17px;
    line-height: 30px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    max-width:60%;
}

.close-or-open-div {
    text-align: right;
}
