.tree-item-div {
    padding-left: 5px;
}

.tree-children-div {
    padding-left: 10px;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

.tree-children-show {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
}

.tree-item-div-choose {
    background-color: cornflowerblue;
    border-radius: 3px;
}
