.tree-item-div {
    padding-left: 40px;
}

.tree-children-div {
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

.tree-children-show {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
}
