.forest-div {
    width: 200px;
    min-height: 600px;
    padding: 20px 10px 20px 0;
    float: left;
}

.forest-header-div {
    text-align: right;
    margin-bottom: 20px;
}

.forest-header-div button {
    border-style: none;
    background-color: #FFAA00;
    color: black;
    font-size: 17px;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    bottom: 0;
    cursor: pointer;
}
