.forest-div {
    max-width: 200px;
    min-height: 800px;
    height: 100%;
    padding: 20px 10px 20px 0;
    float: left;
    flex: 2;
}

.forest-header-div {
    text-align: right;
    margin-bottom: 20px;
}

.forest-header-div button {
    border-style: none;
    background-color: #FFAA00;
    color: white;
    font-size: 12px;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    bottom: 0;
    cursor: pointer;
}
